html {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Handlee', cursive;
    font-size: 15pt;
    background-image: linear-gradient(to right, rgba(170,120,200,0.7), rgba(20,110,210,0.6));
    padding: 10px;
    margin: 0;
}
h1 {
    font-size: 19pt;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 0 0 10px 0;
}
#titulo-makein {
    border: 3px dashed #ff5e00;
    padding: 10px;
    color: #ff5e00;
}
#titulo-rayo{
    border: 3px dashed #0011f8;
    padding: 10px;
    color: #0011f8;
}
#titulo-diego{
    border: 3px dashed #f80000;
    padding: 10px;
    color: #f80000;
}
#titulo-stanli{
    border: 3px dashed #005323;
    padding: 10px;
    color: #005323;
}
#notas{
    padding-left: 3%;
    padding-right: 3%;
}
p {
    padding: 0;
    margin: 0;
}
.section {
    border: solid 2px;
	border-color: rgba(0, 247, 255, 0.521);
	background-color: rgba(255, 255, 255, 0.808);
	-webkit-backdrop-filter: blur(15px);
	backdrop-filter: blur(15px);
	box-shadow: 5px 10px 15px 15px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

table {
    width: 100%;
    font-size: 15pt;
    margin: auto;
}
table, th, td {
    border: 2px solid #00000025;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
    align-content: center;
    max-width: 1200px;
}
.fem {
    background-color: #8100a1;
    font-weight: bold;
    color: white;
}

.vectorial {
    background-color: #0039d4;
    font-weight: bold;
    color: white;
}
.ingles {
    background-color: #00771e;
    font-weight: bold;
    color: white;
}
.programacion {
    background-color: #006961;
    font-weight: bold;
    color: white;
}
.digital {
    background-color: #807d00;
    font-weight: bold;
    color: white;
}
.core {
    background-color: #8b0000;
    font-weight: bold;
    color: white;
}

/* Materias rayo*/
.circuitos{
    background-color: #0039d4;
    font-weight: bold;
    color: white;
}
.integral{
    background-color: #00771e;
    font-weight: bold;
    color: white;
}
.anatomia{
    background-color: #807d00;
    font-weight: bold;
    color: white;
}
/* fem igual que makein*/
.biomateriales{
    background-color: #8b0000;
    font-weight: bold;
    color: white;
}

/* Materias diego*/
.materiales{
    background-color: #00461d;
    font-weight: bold;
    color: white;
}
.fluidos{
    background-color: #080080;
    font-weight: bold;
    color: white;
}
.diferenciales{
    background-color: #a4af00;
    font-weight: bold;
    color: white;
}
.marketing{
    background-color: #770071;
    font-weight: bold;
    color: white;
}

/* Materias de Stanli*/
.teoria{
    background-color: #770071;
    font-weight: bold;
    color: white;
}
.teclado{
    background-color: #00522c;
    font-weight: bold;
    color: white;
}
.gramatica{
    background-color: #000f52;
    font-weight: bold;
    color: white;
}
.guitarra{
    background-color: #00524e;
    font-weight: bold;
    color: white;
}
.canciones{
    background-color: #524a00;
    font-weight: bold;
    color: white;
}
.creacion{
    background-color: #520000;
    font-weight: bold;
    color: white;
}
.historia{
    background-color: #007a29;
    font-weight: bold;
    color: white;
}
.lenguaje{
    background-color: #a5c200;
    font-weight: bold;
    color: white;
}
hr {
    border: 0;
    height: 1px;
    background: #f36f48;
}

ul{
    font-size: 22px;
}

h2{
    font-size: 24px;
    font-weight: bold;
}
p span{
    font-size: small;
    font-weight: bold;
    text-align: right;
}